ul li ul{
	display: none;
	position: absolute;
	z-index: 2;
	background-color: #0db4be;
	min-width: 200px;
	width: 100%;
}
ul li ul li{
	list-style:none;
	padding: 10px;
}
ul li ul a{
	text-decoration: none;
	background-color: #0db4be;
	color: white;
}
ul li:hover > ul{
	display: block;
}

section.a{
	min-width: 33.33%;
	float: left;
}

img.a-img{
	width: 100%;
	height: auto;
}